<table class="table table-striped">
  <thead class="">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Print all Tasks in table -->
    <tr *ngFor="let task of tasks">
      <th scope="row">{{ task.$key }}</th>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <a
          [routerLink]="['/task', task.$key, 'update']"
          class="btn btn-info btn-sm mr-2"
        >
          Edit Task
        </a>

        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="deleteTask(task.$key)"
          [disabled]="loading"
        >
          Delete Task
        </button>
      </td>
    </tr>
  </tbody>
</table>
